@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Ubuntu:wght@500&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

*::selection {
  background-color: rgb(85, 146, 4);
  color: white;
  transform: skewX(50deg);
}

.title {
  /* transform: skewX(-5deg); */
  padding: 2rem 0;
  color: white;
}

body {
  background: rgba(170, 250, 197, 0.452) !important;
}

.custom-container {
  transform: skewX(-15deg);
  background-color: rgba(0, 128, 28, 0.596);
  box-shadow: 2px 4px 10px rgba(43, 43, 43, 0.452);
  transition: all 0.8s ease;
  /* transform: translateX(-200%); */
  /* visibility: hidden; */
  animation: custom-container-animation 1.5s  linear;
}

.custom-container:hover {
  transform: scale(1.001);
}

@keyframes custom-container-animation {
    0%{
        visibility: visible;
        transform: translateX(-100%);
    }
    25%{
        visibility: visible;
        transform: translateX(-75%);
    }
    50%{
        visibility: visible;
        transform: translateX(-25%);
    }
    75%{
        visibility: visible;
        transform: translateX(25%);
    }
    100%{
        visibility: visible;
        transform: translateX(0%);
    }
}

.card {
  border-radius: 10px !important;
  box-shadow: 0px 2px 10px rgba(43, 43, 43, 0.452);
  transition: all 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(43, 43, 43, 0.452);
}

.card-title{
  color: rgb(0, 136, 0);
}

.underline {
  height: 0.25rem;
  width: 8rem;
  background: rgb(14, 43, 2);
  margin-left: auto !important;
  margin-right: auto !important;
}

.topic-heading {
  color: rgb(0, 53, 28);
  animation: heading-animation 3.8s infinite ease;
}

@keyframes heading-animation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

a{
    text-decoration: none!important;
}

.on-process{
  background-color: rgb(5, 112, 68);
  color: white;
  border-radius: 20px;
  padding: 0.25rem 0;
}